:root{
  font-size: 16px;
  font-family: 'Raleway', 'Open Sans';
  background-color: #FCFCFC;
  --text-primary: #272727; 
  --text-secondary: #9B9B9B; 
  --text-tertiary: #f5f4f4;
  --bg-primary: #D9D9D9;
  --bg-secondary: #9B9B9B;
  --bg-tertiary: #3A3E42;
  --sven-red: #EC1515;
  --sven-blue: #014AAD;
  --transition-speed: 600ms;
}

body{
  margin:0;
}

.addTask{
  padding-left: 1em;
  padding-right: 1em;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  border-radius: 15px;
}

.taskCard{
  padding-left: 1em;
  padding-right: 1em;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
}

.sub{
  padding-left: 1em;
  padding-right: 1em;
  color: var(--text-tertiary);
  background-color: var(--bg-tertiary);
}

.subtask-display-Container{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.subtask-display{
  contain: content;
  text-transform: uppercase;
  font-size: small;
  min-height: 15vmin;
  min-width: 15vmin;
  border: 3px var(--bg-primary) solid;
  border-radius: 5px;
  margin: 1vmin;
}

.button{
  margin: 1em;
  color: var(--text-primary);
  background-color: #FCFCFC;
  padding: 1em;
  border-radius: 3em;
  transition: var(--transition-speed);
  border-color: var(--bg-secondary);
}

.button:hover{
  background: var(--sven-blue);
  transform: scale(1.1);
  transition: var(--transition-speed);
}

.container{
  width:46vw;
  float: left;
  margin-right: 1em;
}

.wrapper:after{
  content: "";
  display: table;
  clear: both;
}

span{
  margin-left:3em;
  text-decoration: overline underline;
}

span:hover{
  color: var(--sven-blue);
  font-size: large;
}

.nav-wrapper{
  position: sticky;
  background-color: var(--bg-primary);
  overflow: hidden;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.nav-logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-quaternary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  transition: var(--transition-speed);
}

.nav-logo:hover{
  filter: grayscale(0%) opacity(1);
  background: var(--text-secondary);
}

.nav-item {
  text-align: center;
}

.hero-image{
  margin: auto;
  width: 100vw;
  overflow: hidden;
}

footer{
  position: fixed;
  bottom: 0;
}