.adminNav{background-color:lightblue;
text-align: center;}

.navText{display:inline;
margin-right:10px;
margin-left:10px;
}

.display{height:75%;}

#clientTable{
    margin-left: auto;
    margin-right:auto;
    border: solid 2px;
    text-align: center;
}

th{border:solid 2px}
td{border:solid 1px}
