/* THERE IS NO MORE ADMIN NAV */
/* .adminNav{background-color:lightblue;
text-align: center;} */

.navText{display:inline;
margin-right:10px;
margin-left:10px;
}

.display{height:75%;}

#clientTable{
    margin-left: auto;
    margin-right:auto;
    border: solid 2px var(--bg-primary);
    text-align: center;
}

th{border:solid 2px}
td{border:solid 1px}

.sidebar-nav {
    position: absolute;
    background-color: var(--bg-primary);
    border: var(--bg-secondary) 1px solid;
    transition: width 600ms ease;
    overflow-x: hidden;
    overflow-y: scroll;
}

.side-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
}

.side-nav {
    top: 0;
    width: 14rem;
    height: 100vh;
}

.workflow-name{
    background-color: var(--bg-primary);
    font-size: larger;
    padding-bottom: 1em;
    text-align: center;
}

.side-item {
    padding-left: 1em;
    display: flex;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.side-item:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-tertiary);
  }
  

.side-item:last-child {
    margin-top: auto;
  }

.span {
    float: right;
}

.workflowWrapper{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-secondary);
}

.workflowDescription {
    padding-left: 14rem;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    text-align: center;
    margin-top: 0vh;
    margin-bottom: 2vh;
    padding-top: 1%;
    padding-bottom: 1%;
}

.workflowInfo {
    background-color: var(--bg-primary);
    text-align: center;
}